    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/hackerloop.png" alt="">
                    <div class="intro-text">
                        <!-- <span class="name">{{ site.title }}</span> -->

                        <div class="sentence">Hackerloop is a collective of
                          <div class="slidingVertical">
                            <span>engineers.</span>
                            <span>tinkerers.</span>
                            <span>hackers.</span>
                            <span>makers.</span>
                            <span>robots.</span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
